mixin leftblockItem(title)
  li.leftblock__item
    a.leftblock__title(href="#")= title

mixin leftblockSubmenuItem(title)
  li.leftblock__submenu-item
    a.leftblock__submenu-title(href="#")= title

mixin goodCard
  .good-card.goods__card
    img.good-card__image(src="./img/centerblock/no-photo.jpg", alt="Фото товара", width="210", height="210")
    p.good-card__promo Самый клевый чайник, который надо купить!
    .good-card__cart-wrap
      .good-card__price 1 900 р.
      a.good-card__cart(href="#")

- var aboutLeft = "Компания «Пиксель Плюс» существует более 6 лет, за это время мы принимали участие в разработке более чем 700 сайтов, поэтому можем уверенно называть себя профессионалами. На данный момент наш коллектив состоит из более чем 30 сотрудников работающих в двух офисах в Москве и Зеленограде.характерные для этого жанра мотивы: неразделённой любви, ухода молодости, угасания души.";
- var aboutRight = "Одним из основных направлений работ нашей компании является поисковое продвижение сайтов, на данной момент мы работаем с более чем 150 постоянными клиентами по более чем 11 000 поисковым запросам. При этом в работе основной акцент мы делаем на качестве работ, а так же применяем собственные уникальные разработки в области SEO продвижения. На данный момент отдел SEO состоит из 9 человек под руководством ведущего специалиста, преимущественно работающих в нашем московском офисе.";

main.content
  .container
    ul.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link(href="#") Главная
      li.breadcrumbs__item
        a.breadcrumbs__link(href="#") Каталог
      li.breadcrumbs__item.breadcrumbs__item_active Бытовая техника
    .content__inner
      .leftblock
        ul.leftblock__menu
          +leftblockItem("Автомобили")
          li.leftblock__item.leftblock__item_active
            a.leftblock__title(href="#") Бытовая техника
            ul.leftblock__submenu
              li.leftblock__submenu-item.leftblock__submenu-item_active
                a.leftblock__submenu-title(href="#") Микроволновки
              +leftblockSubmenuItem("Холодильники")
              +leftblockSubmenuItem("Посудомоечные машины")
              +leftblockSubmenuItem("Чайники")
          +leftblockItem("Мобильная техника")
          +leftblockItem("Компьютеры")
          +leftblockItem("Одежда")
          +leftblockItem("Недвижимость")
        a.leftblock__pricelist(href="#") Прайс-лист
      .centerblock
        .goods
          .goods__container
            +goodCard
            +goodCard
            +goodCard
            +goodCard
            +goodCard
          ol.paginator.goods__paginator
            li.paginator__page
              a.paginator__link(href="#") 1
            li.paginator__page
              a.paginator__link(href="#") 2
            li.paginator__page.paginator__page_active
              a.paginator__link(href="#") 3
            li.paginator__page
              a.paginator__link(href="#") 4
            li.paginator__page
              a.paginator__link(href="#") 5
            li.paginator__page
              a.paginator__link(href="#") 6
            li.paginator__page
              a.paginator__link(href="#") 7
        .about-company.centerblock__about
          .about-company__left= aboutLeft
          .about-company__right= aboutRight
