mixin leftblockItem(title)
  li.leftblock__item
    a.leftblock__title(href="#")= title

mixin leftblockSubmenuItem(title)
  li.leftblock__submenu-item
    a.leftblock__submenu-title(href="#")= title

mixin goodCard
  .good-card.goods__card
    img.good-card__image(src="./img/centerblock/no-photo.jpg", alt="Фото товара", width="210", height="210")
    p.good-card__promo Самый клевый чайник, который надо купить!
    .good-card__cart-wrap
      .good-card__price 1 900 р.
      a.good-card__cart(href="#")

main.content
  .container
    ul.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link(href="#") Главная
      li.breadcrumbs__item
        a.breadcrumbs__link(href="#") Каталог
      li.breadcrumbs__item.breadcrumbs__item_active Бытовая техника
    .content__inner
      .leftblock
        ul.leftblock__menu
          +leftblockItem("Автомобили")
          li.leftblock__item.leftblock__item_active
            a.leftblock__title(href="#") Бытовая техника
            ul.leftblock__submenu
              li.leftblock__submenu-item.leftblock__submenu-item_active
                a.leftblock__submenu-title(href="#") Микроволновки
              +leftblockSubmenuItem("Холодильники")
              +leftblockSubmenuItem("Посудомоечные машины")
              +leftblockSubmenuItem("Чайники")
          +leftblockItem("Мобильная техника")
          +leftblockItem("Компьютеры")
          +leftblockItem("Одежда")
          +leftblockItem("Недвижимость")
        a.leftblock__pricelist(href="#") Прайс-лист
      .centerblock
        .goods
          .goods__container
            +goodCard
            +goodCard
            +goodCard
            +goodCard
            +goodCard
          ul.paginator.goods__paginator
        .about-company

