footer.footer.page__footer
  .container
    .footer__inner
      .footer__contacts
        span.footer__copyright © 2012–2013 ЗАО «Компания» 
        a.footer__mail(href="mailto:info@name.ru") info@name.ru
      ul.footer__menu
        li.footer__menu-item
          a.footer__menu-link(href="#") Главная
        li.footer__menu-item
          a.footer__menu-link(href="#") Каталог
        li.footer__menu-item
          a.footer__menu-link(href="#") Доставка и оплата
        li.footer__menu-item
          a.footer__menu-link(href="#") Прайс-лист
        li.footer__menu-item
          a.footer__menu-link(href="#") Контакты
      .footer__logo
        span.footer__logo-promo Разработка сайта
        |  — компания «Пиксель Плюс»
