header.header
  .container
    .header__inner
      .header__logo-wrapper
        img.header__logo(src="./img/header/logo.png", alt="Логотип", width="273", height="100")
      .header__feadback
        a.header__phone(href="tel:+7499777777") +7 (499) 777-77-77
        a.header__phone(href="tel:+7499777777") +7 (499) 777-77-77
        a.header__btn-feedback(href="#") Обратная связь
