.nav.menu
  .container
    ul.menu__inner
      li.menu__item
        a.menu__link(href="#") Главная
      li.menu__item
        a.menu__link(href="#") Каталог
      li.menu__item
        a.menu__link(href="#") Доставка и оплата
      li.menu__item
        a.menu__link(href="#") Прайс-лист
      li.menu__item
        a.menu__link(href="#") Контакты
