.content
  display: flex
  flex-direction: column
  &__inner
    margin-top: 15px
    display: flex

.breadcrumbs
  height: 30px
  display: flex
  align-items: center
  &__item
    &::before
      content: "/"
      margin: 0 5px
      color: $font-color
    &:first-of-type::before
      content: ""
      margin: 0
  &__link
    text-decoration: underline
    color: $font-color

.leftblock
  min-width: 200px
  &__item
    &_active,
    &:hover
      .leftblock__title
        text-decoration: underline
  &__title
    font-size: 18px
    line-height: 30px
    color: $font-color
  &__submenu
    &-item
      &::before
        content: "\2022"
        display: inline-block
        margin: 0 4px 0 7px
        color: $font-color
      &_active,
      &:hover
        .leftblock__submenu-title
          color: #010101
          text-decoration: underline
    &-title
      color: $font-color
  &__pricelist
    display: block
    padding-top: 115px
    margin-top: 110px
    font-size: 30px
    font-weight: 700
    color: #444444
    text-align: center
    background-image: url('../img/leftblock/xl.png')
    background-repeat: no-repeat
    background-position: top center

.good-card
  width: 250px
  height: 380px
  padding: 20px
  display: flex
  flex-direction: column
  background-color: $light-bg-color
  &__promo
    margin-top: 12px
    font-size: 18px
    line-height: 1
  &__cart-wrap
    margin-top: auto
    display: flex
    justify-content: space-between
  &__price
    font-size: 28px
    font-weight: 700
    color: #444
  &__cart
    width: 28px
    height: 21px
    background-image: url('../img/centerblock/basket.png')
    background-repeat: no-repeat
    background-position: center
    cursor: pointer

.goods
  border-bottom: 1px solid #777777
  &__card
    margin-right: 15px
    margin-bottom: 20px
    &:nth-child(3n)
      margin-right: 0
  &__container
    display: flex
    flex-wrap: wrap
  &__paginator
    margin: 10px 0 60px 0

.paginator
  display: flex
  align-items: baseline
  justify-content: center
  &__page
    margin-right: 20px
    &_active
      font-size: 18px
  &__link
    color: $font-color

.about-company
  display: flex
  justify-content: space-between
  &__left
    flex: 1 1 50%
    margin-right: 20px
  &__right
    flex: 1 1 50%
    margin-left: 20px

.centerblock
  &__about
    margin-top: 30px
    margin-bottom: 200px

+laptop
  .goods
    &__container
      justify-content: center
    &__card
      &:nth-child(3n)
        margin-right: 15px

+tablet
  .content
    &__inner
      flex-direction: column
  .leftblock
    display: flex
    align-items: center
    &__pricelist
      margin: 0 auto 0 auto
  .centerblock
    margin-top: 20px
    &__about
      margin-bottom: 70px
  .good-card
    width: 175px
    height: 245px
    padding: 15px
    &__promo
      margin-top: 7px
      font-size: 14px
      line-height: 1
    &__price
      font-size: 18px

+mobileL
  .leftblock
    &__pricelist
      padding-top: 60px
      font-size: 20px
      background-size: 50% auto
  .about-company
    flex-direction: column
    &__left
      margin-right: 0
      margin-bottom: 20px
    &__right
      margin-left: 0
  .goods
    &__paginator
      margin: 10px 0 30px 0
