.slider
  background-color: $slider-bg-color
  &__slide
    position: absolute
    left: 0px
    top: 0px
    width: 100%
    height: 100%
    opacity: 0
    background-size: auto
    background-position: center bottom
    background-repeat: no-repeat
    transition: opacity .8s linear
    &-container
      position: relative
      height: 400px
    &_active
      opacity: 1
    &:nth-of-type(1)
      background-image: url('../img/slider/slide-1.png')
    &:nth-of-type(2)
      background-image: url('../img/slider/slide-2.png')
  &__container
    max-height: 0
  &__controls
    display: flex
    justify-content: space-between
    transform: translateY(calc(-200px - 50%))
  &__prev
    width: 33px
    height: 60px
    background-image: url("../img/slider/left.png")
    cursor: pointer
  &__next
    width: 33px
    height: 60px
    background-image: url("../img/slider/right.png")
    cursor: pointer
  
+tablet
  .slider
    &__slide
      background-size: cover
      &-container
        height: 300px
    &__controls
      transform: translateY(calc(-150px - 50%))

+mobileL
  .slider
    &__slide
      background-size: cover
      &-container
        height: 200px
    &__controls
      transform: translateY(calc(-100px - 50%))
