//- Get mixins on top level
include ./config/_mixins.pug

<!DOCTYPE html>
html(lang="ru")
  //- HEAD tag
  include ./config/_head.pug
  //- Page content
  body.page
    include ./blocks/_modal.pug
    include ./blocks/_header.pug
    include ./blocks/_menu.pug
    include ./blocks/_slider.pug
    include ./blocks/_content.pug
    include ./blocks/_footer.pug
